/* css cho moi cuon sach */

.motcuonsach {
    height: 23vw;
}

.tren {
    position: relative;
    width: 100%;
    height: 80%;
}

.motcuonsach .layer1 {
    position: absolute;
}

.motcuonsach .layer2 {
    position: absolute;
    /* background-image: -webkit-linear-gradient(left, #ffff004a 0%, #ffa50066 40%, #ff00004f 100%); */
    background-color: #000000ba;
    opacity: 0;
    transition: 0.3s;
    display: block;
}

.motcuonsach .layer3 {
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    opacity: 0;
    transition: 0.2s;
}

.motcuonsach .layer3 a {
    text-decoration: none;
    color: white;
}

.motcuonsach .layer3 i:hover {
    cursor: pointer;
    font-size: xx-large;
    background-color: orange;
}

.motcuonsach .layer3 i {
    display: inline-block;
    font-size: xx-large;
    padding: 10px;
    border-radius: 3px;
}
.motcuonsach .tieude{
    font-size: 1.8vw;
    text-align: center;
    padding: 3px;
}

.tren:hover .layer2,
.tren:hover .layer3 {
    opacity: 1;
    transform: scale(1);
}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    .motcuonsach .layer3 i {
        font-size: small;
    }
}
    
@media screen and (max-width: 580px) {
    /* start of phone styles */
    .motcuonsach {
        height: 400px;
    }

    .motcuonsach .tieude{
        font-size: 30px;
    }

    .motcuonsach .layer3 i {
        font-size: 50px;
    }
}



/* css cho modal box */
#momo {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1999;
    background: #2c05058a;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    top: 0;
}

#modal_content {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 5px 5px;
    width: 100%;
    transition: 0.3s;
    opacity: 0;
    transform: scale(0.6);
    overflow-y: scroll;
    visibility: hidden;
    height: 90vh;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 5vh;
}

#modal_box {
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    font-size: 20px;
    visibility: hidden;
}

/* bat dau dieu chinh cac hieu ung */

#momo.hienra {
    opacity: 1;
    visibility: visible;
}

/* hieu ung 1 */

#modal_box.modal_show #modal_content {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}
#modal_content h1{
    padding: 15px
}
#modal_content img{
    width  : 40%;
    margin-left: 50%;
    transform: translateX(-50%);

}
#modal_content  h2, #modal_content  p {
    padding: 15px;
}

#modal_content  table{
    padding: 15px;
}

#modal_content  table i{
    animation: fa-spin 2s linear infinite;
}



#page_panel{
    text-align: center;
}
#page_panel a{
    margin-top: 10px;
    margin-left: 10px;
}

@media screen and (max-width: 580px) {
    #modal_box {
        width: 70%;
        left: 50%;
    }

    #modal_box h1, #modal_box h2{
        font-size: 19px;
    }
    #modal_box table, #modal_box p {
        font-size: 19px;
    }


}


/* phan loading  */


.khoiload {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: #f39c12;
    border-radius: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.loading {
    width: 100%;
    height: 100%;
    background: #2c3e50;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}