

ul.list_theloai {
    list-style-type: none;
    display: flex;
    overflow: hidden;
    /* height: 252px; */
}

p.noidungtheloai {
    text-align: center;
    font-size: 3vh;
}

li.item_theloai {
    display: inline-block;
    /* border: 1px solid black; */
    margin-right: 14px;
    transition: 0.5s;
}

li.item_theloai:hover {
    box-shadow: 5px 5px 5px #9a9a9a;
    cursor: pointer;
    transform: scale(1.2);
}

.zone-timkiem-phanloai p {
    display: inline-block;
    width: 100px;
    font-size: 18px;
    line-height: 36px;
}

ul.list-uutienxem {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

ul.list-uutienxem li {
    /* margin-right: 16px; */
    display: inline-block;
}

div.khuvuctimkiem {
    display: flex;
}

div.khuvuctimkiem input {
    width: 20vw;
    height: 35px;
    display: block;
}

div.khuvuctimkiem i {
    font-size: 4vh;
    margin-left: 7px;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}
div.khuvuctimkiem i:hover{
    transform: rotate(20deg);
    color: orangered;
}


/* css cho moi cuon sach */

.motcuonsach {
    height: 400px;
}

.tren {
    position: relative;
    width: 100%;
    height: 80%;
}

.motcuonsach .layer1 {
    position: absolute;
}

.motcuonsach .layer2 {
    position: absolute;
    /* background-image: -webkit-linear-gradient(left, #ffff004a 0%, #ffa50066 40%, #ff00004f 100%); */
    background-color: #000000ba;
    opacity: 0;
    transition: 0.3s;
    display: block;
}

.motcuonsach .layer3 {
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    opacity: 0;
    transition: 0.2s;
}

.motcuonsach .layer3 a {
    text-decoration: none;
    color: white;
}

.motcuonsach .layer3 i:hover {
    cursor: pointer;
    font-size: xx-large;
    background-color: orange;
}

.motcuonsach .layer3 i {
    display: inline-block;
    font-size: xx-large;
    padding: 10px;
    border-radius: 3px;
}

.tren:hover .layer2,
.tren:hover .layer3 {
    opacity: 1;
    transform: scale(1);
}


/* css cho modal box */
#momo {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1999;
    background: #2c05058a;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    top: 0;
}

#modal_content {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 5px 5px;
    width: 100%;
    transition: 0.3s;
    opacity: 0;
    transform: scale(0.6);
    overflow-y : scroll;
    visibility: hidden;
    height: 90vh;
    margin-top: 5vh;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

#modal_box {
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    font-size: 20px;
    visibility: hidden;
}

/* bat dau dieu chinh cac hieu ung */

#momo.hienra {
    opacity: 1;
    visibility: visible;
}

/* hieu ung 1 */

#modal_box.modal_show #modal_content {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}
#modal_content h1{
    padding: 15px
}
#modal_content img{
    width  : 40%;
    margin-left: 50%;
    transform: translateX(-50%);

}
#modal_content  h2, #modal_content  p {
    padding: 15px;
}

#modal_content  table{
    padding: 15px;
}

/* css cho phan thu tu trang  */
#page_panel {
    text-align: center ;
}
#page_panel a{
    margin-top:10px ;
    margin-left: 10px;
}